In [4]:
import pandas as pd

#data = pd.read_csv("calllLogs.csv")
#ids = ['8SEHPRKH5', '9UK1BSBLV', '8LOAAXQ52', '3NL2J473W', 'OVW13SMGC', 'R8CI0EGMO', 'L4TA7N4ED', 'E4K175TH3', 'PGU3O10D9', '73KXCMW73', '5WSIRF9C7', 'JX3VZUNU2', 'CVCXR3FZV', 'GQ5MST8H5', '32WU3GTFL', '2F9XOH3C5', 'UZ4BBFC02', '5BPFFMIFV', 'JHIMLDN2G', 'HJERN37PE', 'BHY0R9MA8', 'NCRV5694O', 'CI8ZV3SHZ', '8E9UTS241', 'J6UOKFUR1', 'ZK5CIEC73', 'WB0TLP5X4', 'NEXWGJERL', '8WBVV7RX2', 'VVHW94TQJ', 'GDCI9HKWA', '333B8XPT3', 'RV8D4SZZS', 'L6B3T0HWR', '00WRNS3MK', 'KO6MQN4TH', 'GOC1D5RNE', 'H8IBT4OV0', 'CLFI9X5TX', 'XOL6TDL8W', 'N0LLHMD2F', 'R6BYJUPIX', 'I2QVYX8KA', 'IWC8WP86R', 'U4FU1DQFT', '66VHJOQM5', '16EV5VR4O', 'V8BP0D8P3', 'H9OW9LNOC', 'JX3RD18ES', 'X9I85TFJH', 'ICN55LW0F', 'N6KJMVENA', 'VKE3CHPPR', '053F3JF85', 'ZU480VKLF', 'R7VBKE8O4', 'KX7UOVGXW', 'Q6N7PT68V', 'K7153X803', 'SJXTGWBX9', 'IHNGBZ4G4', 'B1R17ZXQO', 'UL2HLP3S2', '8LXL8LH75', 'FVTS4GMT0', 'QI2RZOIWO', 'U0Z6T4BJM', '7MXTEUBZM', '2HP2IU9CX', '0IJCJHPSJ', 'ROSJJNIB3', 'C9RIGOBMB', 'CX4BEZ1KH', 'KDIEB7GG9', 'R51QPF9FH', '37LDX3I9F', 'YJPE46TZX', 'T7IBUJ9AK', '9IS90RONI', 'IAITT3XWW', 'OW3IK4WW3', '0AS1KO35P', 'CSQL87Z6J', 'YS0ZSCTRI', 'E7EEQIEOV', 'GCORDFUNA', 'D8SHI576R', 'D3QCUXCAH', '6YAWLSYTT', '5C0978TO8', 'EXQ6Z8N5K', 'R4FN1VTT6', 'EBCDMC7R8', 'T7IVFSMPH', 'U2J2GQ3OZ', 'P6MB6BZIA', '1MZ0A5PA6', 'VN88VQWFH', 'Q75ZPBZRV', '9SMXN0ACJ', '0EZE7RBCS', 'GV6REDMUZ', 'R91K3GBKY', 'EQ4JETCS0', 'PUJNRXVAU', 'Y9JG21I97', 'HRKDCRIR3', 'L6NKUQPL7', 'SF0QALS02', '7A9PXD4HB', '9JOA7ED1Y', 'B8KBO9Y8L', 'W5X8EEBRW', 'GZU3KNP1E', 'AFA9AAN3U', 'VD78U8FMV', '5QBSI11JO', '6E80QDRBF', 'GRYTK1JPH', 'TJVPZ3KUP', 'FWJ1GB40T', 'BI9UZGZCI', 'LDBWYKGAM', 'VXP00OA6H', '5YFHD14DK', 'I8FRN56WI', 'TSK41FGYG', 'EO3URI0FA', 'FANIYNL6M', '4WPV9N79S', 'I9RHX4RVN', '846CD4CAG', '3SSDU7ZZS', '0832IIHPX', '9Q4J8VSRX', '4MZ7HDQ5Y', 'TZIWD2BHU', 'E8Q5JF2AE', 'O0PAAK11B', 'CN0MZ8SVO', 'C0FO8A3YF', '06YZBXW0E', 'GHK1L51LP', 'PHKDFQDNA', 'XRN7RMADR', 'KNBH2WNYA', 'F90TOVDVB', 'X6VMD26O2', 'JTJZR6MPN', '5VKBPOJA5', 'SLB2T1LBE', '3L5SXMBCT', 'YSN830IFC', '2W1EYGWM0', 'VP6XEW1BC', 'Y62T6GHBA', 'WX00908TW', '7EPRFFP13', 'SMT4HMHV3', 'GLETU5WBR', 'WFWNRQUL9', 'RZAHRWD67', 'NATPFYIWF', '8C43G56IR', 'TAITDNS88', '4ON5ORZQD', 'VXY2BPSLH', '0FA8HUTCN', '4IGB4DKMP', 'NVKTPL6YG', 'HT8EF4WQP', 'ZVQ163U8Q', 'SVGAD4DP4', '9RFJU57JW', 'PLV535I3A', 'NDG31PVFT', 'DVHPDYB89', 'NDBMQY06C', 'K8FZTWVGA', 'DDIBMJW86', 'BC1T89KYB', '5LZN9KC6Z', '33WM31B9D', 'V3ARHO9FI', '328A23GSN', 'AC2G79U6Z', '87I1YSTNQ', 'QN1E9GUMV', 'R0N67HMKC', 'HRZEHZ7VC', 'LJ9HXEINF', 'MUGAV0MIC', 'VLUYC1ANM', 'LKD1VXMWK', 'F3G0RWSR1', '4REI6R2IA', '18SVPE1ZJ', 'WEI4XXWKK', 'IPI43M6ZT', 'SHK92R2HD', 'ZPNLIDMZX', '7ILA5Z9BC', 'XT11CP7OL', 'FO36GWXK8', 'C06F1T857', 'ZNQ5Z1Q9I', '72MXGRQBR', 'O6ODZSA58', 'CDH2QS5RN', 'NOUJ4WMBE', 'QB41U9B20', 'H9VW0FPM0', 'KOCDDO3G3', 'P85P0ARF7', '2KBVNGWPL', '24GRUOP7U', '18BU0T36C', 'C1BOB71XJ', 'DOAW2UJIB', 'GUN9FOB9Z', 'SGVN7E3SM', 'AZTQ43FR2', 'GDI7L5YNQ', 'BS6OWRWT3', 'O7AH5LR0P', 'XJ3EA8CN3', '80HSQUGOP', '2CDDC5KI4', '8GWLHFAJ1', 'PUB9J1B82', 'MI5OIAZT9', 'R7YBIW3II', 'C4NCER7RE', 'UM8C3DPOI', 'ALWME5OUU', '5AH5AX23X', '6IMCHA760', 'NVTUV071H', 'EAIY2O2TU', 'U164N2SEN', '2UN36PHH8', 'NQX55024F', '3P1RSB01B', '9J0GK5GZ6', 'ZE5QAUQQL', 'BGL0MMCO9', 'MXP7VL7UL', 'RWDISU11F', '3CHEWWWZ3', 'IITKHSRQT', 'AJFHFELJ9', 'F35HPSWQO', 'R7TFC1NBN', 'LW0PT99GB', 'IUX1SYQOU', 'S8H4G4XHO', 'ES9H14HA2', 'G2OLGEXS9', 'EI9BLEJO5', 'VE7L3751Z', 'I9K3V4DAH', 'MPK96X2SQ', 'DV38WPRNY', 'QU4II7Z75', 'NYS4MQRPS', 'B0HEQMRJ6', 'FH62WPZP3', '8CLVULOIO', '3PIMCAZX9', '2J66ISROR', 'IUGAHUB8Z', '9P5WZBIU1', 'SKNKBM56D', 'GS9IFHH02', 'G2E3RR2KS', 'IA81BBK3O', 'R8G6Q7GHS', '691P5QTLK', 'GR7PQY74F', 'BN0LIX16A', 'CQR4Y2UXQ', 'N62ILYIU3', 'PG76MAUMX', '8EEF50JKJ', 'XYBHSF79P', 'VD2RKGCW3', '0NZH3ULXB', 'MBKRUV24O', 'JZQ9CXPOK', 'QBEZBGLGH', 'QUWE365TI', 'G33BXUUS6', 'P69VZJY2D', '9UG8K6FO0', 'GGQCID86U', 'DC99V3UUB', '63QKBXNE6', 'IYMRZ7FZR', '8FN886LW5', 'YDYRIKI3H', 'R81DDALEN', '7FCE0XFDQ', '1FI0MTC50', 'XDQVFTSQ9', 'ZSV4R67YI', 'RO36LNUYG', 'J1OUQ0VNX', 'LPMHTVJK9', 'K07YNR8S2', '27NH2HZUC', '6I1SJ69LX', 'JB95HLE5F', 'I4WPEYE6Z', 'RBA8L53F1', 'FTWST1L44', 'PRSU5PFDZ', '0GJVGLPFD', 'Y2D3VEDCB', '7CP6HI2D3', 'X04Z7QK7S', 'ZS3XUU0WD', 'PT210DZKV', 'FWBF74Q1R', 'R8XZTT4T8', 'VFRO3ZS97', '22LL6OVMX', '1ZPER3JLY', 'AB7ZLB0BC', 'FX1QOS4N2', '7KBUI5ZGZ', 'KIY618IHW', 'ZLVAOMACE', '5XEUPOVMZ', 'CEGGDZ4BQ', 'ZMEDGUHJM', 'ZW34HBGVK', 'ALJ5BW5DT', '60RW5873T', 'A1WWOV7A7', 'ICONATXLW', '2HXBM74IR', '8J0PZ4W9Y', 'BATBGXLRZ', 'J79E017DW', 'SA23NGN79', 'IMJJXV1B2', '7PAJPUUZ5', 'EE1MNQTUT', 'M153ZUCWD', 'OAHHVQH1J', 'D23O0X363', 'G507LQZ5X', 'RRDR93OAQ', 'S8UM2H1YC', 'S36MWQXIM', 'AP4FPZP5H', '4BC7EXG7E', '2GL2GBWBU', '2UAVRZYY8', '28CGATPB3', '0U9XV75IX', 'EHKQK9NGT', '0XRDYXWOE', '64XV6EVX5', 'QT3M2ARB7', 'LO013DVYO', '8G5DNILEK', 'HU0TL00AD']
#data = data[data["Alpha_Numeric"].isin(ids)]
#data.to_csv("callLogsDepreST-CAT.csv")

In [10]:
data = pd.read_csv("callLogsDepreST-CAT.csv")
data.head()

,id,Direction,Duration,UnixTimestamp,Contact
0,U0Z6T4BJM,2,79,1.550000e+12,b245e4e67f7b8f3ed5e03ed76686d3148e82686ca7af1b...
1,U0Z6T4BJM,2,0,1.610000e+12,b8ae6e78198f68454ebf92afab44caa68dbef52aa920d4...
2,U0Z6T4BJM,2,11,1.610000e+12,b245e4e67f7b8f3ed5e03ed76686d3148e82686ca7af1b...
3,U0Z6T4BJM,3,0,1.610000e+12,688974314d497e26a3fd39f30e0f77efc8134be23e8fa1...
4,U0Z6T4BJM,3,0,1.610000e+12,688974314d497e26a3fd39f30e0f77efc8134be23e8fa1...

In [11]:
start = pd.read_csv("surveysDepreST-CAT.csv")
start.head()

,id,appVersion,PHQ - Q1,PHQ - Q2,PHQ - Q3,PHQ - Q4,PHQ - Q5,PHQ - Q6,PHQ - Q7,PHQ - Q8,...,GAD - Q7,GAD - Total,Gender,Age,StudentStatus,PriorDepressionTreatment,Remote,COVID,Group,Timestamp
0,1MZ0A5PA6,stereotype threat,2,1,2,3,2,1,3,0,...,1,12,Woman,24-39,No & I am not a student,Yes,Yes - Full Time,No\/I don't know,White\/Caucasian,"""2021-03-21 00:29:43.016253"""
1,E7EEQIEOV,control,1,0,1,1,0,1,1,0,...,1,5,Woman,40-55,No & I am not a student,Prefer not to answer,No - Not At All,Yes,White\/Caucasian,"""2021-03-20 00:16:25.943488"""
2,IHNGBZ4G4,control,1,1,2,3,3,2,2,1,...,1,7,Woman,40-55,No & I am not a student,Yes,No - Not At All,No\/I don't know,White\/Caucasian,"""2021-03-21 22:33:41.260353"""
3,R8CI0EGMO,stereotype threat,1,2,3,2,2,3,3,0,...,0,11,Woman,40-55,No & I am not a student,Yes,Yes - Full Time,No\/I don't know,White\/Caucasian,"""2021-03-20 05:03:37.222712"""
4,FWJ1GB40T,control,2,2,2,3,1,2,3,1,...,1,19,Other,18-23,Yes & I am a undergrad student,Yes,No - Not At All,No\/I don't know,White\/Caucasian,"""2021-03-20 11:47:32.838462"""

In [12]:
from datetime import datetime, timedelta
from dateutil import parser

year = []
month = []
day = []
for i in range(0, start.shape[0]):
    string = start.Timestamp[i]
    year.append(string[1:5])
    month.append(string[6:8])
    day.append(string[9:11])
    
df = pd.DataFrame({'year': year, 'month': month, 'day': day})
df = pd.DataFrame(pd.to_datetime(df))
df["id"] = start["id"]
df.columns = ["timestamp","id"]
df.head()

   timestamp         id
0 2021-03-21  1MZ0A5PA6
1 2021-03-20  E7EEQIEOV
2 2021-03-21  IHNGBZ4G4
3 2021-03-20  R8CI0EGMO
4 2021-03-20  FWJ1GB40T

In [13]:
stamps = []
for i in range(0, data.shape[0]):
    ts = int(data.UnixTimestamp[i])/1000
    stamps.append(datetime.utcfromtimestamp(ts).strftime('%Y-%m-%d'))
dataTS = pd.to_datetime(stamps, format='%Y-%m-%d', errors='ignore')
data["timestamp"] = dataTS
data.head()

,id,Direction,Duration,UnixTimestamp,Contact,timestamp
0,U0Z6T4BJM,2,79,1.550000e+12,b245e4e67f7b8f3ed5e03ed76686d3148e82686ca7af1b...,2019-02-12
1,U0Z6T4BJM,2,0,1.610000e+12,b8ae6e78198f68454ebf92afab44caa68dbef52aa920d4...,2021-01-07
2,U0Z6T4BJM,2,11,1.610000e+12,b245e4e67f7b8f3ed5e03ed76686d3148e82686ca7af1b...,2021-01-07
3,U0Z6T4BJM,3,0,1.610000e+12,688974314d497e26a3fd39f30e0f77efc8134be23e8fa1...,2021-01-07
4,U0Z6T4BJM,3,0,1.610000e+12,688974314d497e26a3fd39f30e0f77efc8134be23e8fa1...,2021-01-07

In [14]:
#diff = (data.timestamp[0] - data.timestamp[1]).days

array1 = []
array2 = []
for i in range(0, df.shape[0]):
    values1 = []
    values2 = []
    temp = data[data["id"] == df["id"][i]]
    temp1 = temp[temp.Direction == 1]
    temp2 = temp[temp.Direction == 2]
    for day in range(0, 112):
        count1 = 0
        count2 = 0
        for t in temp1.timestamp:
            diff = (df.timestamp[i] - t).days
            if diff == day:
                count1 = count1 + 1
        for t in temp2.timestamp:
            diff = (df.timestamp[i] - t).days
            if diff == day:
                count2 = count2 + 1
        values1.append(count1)
        values2.append(count2)
    array1.append(values1)
    array2.append(values2)

In [15]:
newdf1 = pd.DataFrame(array1)
newdf2 = pd.DataFrame(array2)

In [16]:
newdf1["timeseries"] = array1
newdf2["timeseries"] = array2

In [17]:
df1 = pd.concat([df, newdf1], axis=1)
df2 = pd.concat([df, newdf2], axis=1)

In [18]:
#df1.to_csv("timeseriesCallDepreST-CAT1.csv")
#df2.to_csv("timeseriesCallDepreST-CAT2.csv")